@import "mixins";

.btn {
  border: none;
  border-radius: 12px;

  padding: 1.4rem 3.2rem;

  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    background-color: transparent;
    box-shadow: 0 0 0 2px inset #fff;
    color: #fff;
  }
}

.btnStart {
  background-color: #6a994e;
  border: none;
  border-radius: 12px;

  padding: 1.4rem 3.2rem;

  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  align-self: end;

  cursor: pointer;

  @include respond(phone) {
    align-self: center;
    margin-top: 3.2rem;
  }
}

.btnQuit {
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 0 2px inset #6a994e;
  background-color: transparent;

  padding: 1.4rem 3.2rem;

  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  color: #6a994e;

  cursor: pointer;

  position: fixed;
  bottom: 16px;
  left: 16px;

  transition: all 0.3s;

  &:hover {
    background-color: #6a994e;
    color: #fff;
  }
}

.btnPlayAgain {
  background-color: #6a994e;
  border: none;
  border-radius: 12px;

  padding: 1.4rem 6.4rem;

  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: transparent;
    box-shadow: 0 0 0 2px inset #6a994e;
    color: #6a994e;
  }

  @include respond(phone) {
    padding: 1.4rem 4.8rem;
  }
}

.btnGetJoke {
  border: none;
  border-radius: 12px;
  background-color: #6a994e;

  padding: 1.4rem 3.2rem;

  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  cursor: pointer;

  transition: all 0.3s;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    background-color: #444;
    box-shadow: 0 0 0 2px inset #6a994e;
    color: #6a994e;
  }
}
