.footer {
  background-color: #444;
  margin-top: 2.4rem;
  border-radius: 12px 12px 0 0;
  text-align: center;
  padding: 1.2rem;

  &Text {
    font-size: 1.6rem;
    color: #fff;
  }

  &Link:link,
  &Link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    font-size: 1.8rem;
    color: #6a994e;
  }
}
