@import "mixins";

.logo {
  max-width: 100%;
  display: inline-block;
  cursor: pointer;

  &__container {
    width: 7.2rem;

    display: flex;
    // flex-shrink: 0;
    gap: 0.4rem;

    @include respond(tab-portrait) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__header {
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 900;
  }
}
