.navbar {
  // padding: 1.8rem 3.2rem 3.2rem 3.2rem;
  padding: 2.8rem 6.4rem 2.8rem 6.4rem;
  border-radius: 0 0 32px 32px;
  margin-bottom: 6.4rem;
  background-color: #444;

  display: flex;
  justify-content: space-between;

  box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.055);

  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    letter-spacing: -1.2px;
    gap: 0.8rem;
  }

  & a:link,
  & a:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;

    display: inline-block;
    padding: 0.4rem 1.8rem;

    transition: all 0.2s;

    &:hover {
      transform: translateY(-6px);
    }
  }

  & ul li a:global(.active) {
    background-color: #6a994e;
    border-radius: 8px;
  }
}
